{
  "Version": "2012-10-17",
  "Id": "chunks-presign-upload-s3-__ENV__",
  "Statement": [
    {
      "Sid": "PresignMultipartUpload",
      "Effect": "Allow",
      "Action": [
        "s3:PutObject",
        "s3:AbortMultipartUpload",
        "s3:ListMultipartUploadParts"
      ],
      "Resource": "arn:aws:s3:::__BUCKET__/*"
    }
  ]
}
